
/* 
Contents
1.base styles
2.loading icon
3.Quiz setup page
4.modal
5.question
*/


/* 1.base styles */
:root{
  --transparent-background:rgba(209, 207, 207, 0.589);
  --main-background-color: rgb(255, 255, 255);
  --accent-color-one:rgba(39, 150, 240, 0.815);
  --accent-color-two:rgba(237, 240, 39, 0.815);
  --accent-color-three:rgba(183, 185, 39, 0.815);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: monospace;
  line-height: 1.5;
  font-size: 0.875rem;
}
.main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color:var(--transparent-background);
}

/*2.loading icon */
.loading-icon {
  width: 10vw;
  height: 10vw;
  border: 1em solid var(--transparent-background);
  border-radius: 50%;
  border-top-color: var(--accent-color-one);
  animation-name: loading-turner;
  animation-duration: 1s; /* or: Xms */
  animation-iteration-count: infinite;
  animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards; /* or: backwards, both, none */
}
@keyframes loading-turner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 3.Quiz setup page */
.quiz-setup {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 2em 5em;
  width: 30%;
  background-color: var(--main-background-color);
}
.quiz-setup label {
  margin-bottom: 0.2em;
}
.quiz-setup input,
select,
button {
  margin-bottom: 2em;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--transparent-background);
  font-family: inherit;
  text-align: center;
}

.quiz-setup button {
  font-family: inherit;
  background-color: var(--accent-color-two);
  padding: 0.2em 0.3em;
}

.quiz-setup h1 {
  text-align: center;
}

/* 4.modal */
.modal-container {
  position: absolute;
  font-size: 150%;
  top: 0;
  right: 0;
  background:var(--transparent-background);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}
.modal{
  text-align: center;
  background-color: var(--main-background-color);
  padding: 2em 5em;
  display: grid;
  place-content: center;
}
/* 5.question */
.question{
  text-align: center;
  padding: 2em;
  font-size: 130%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  background-color: var(--main-background-color);
  color: inherit;
}
.question--align-right{
  align-self: flex-end;
  width: max-content;
}
.answer-button{
   background: var(--transparent-background);
   color: inherit;
  transition: all 0.3s ease;
}
.answer-button:hover{
  background: var(--accent-color-one);
  color: var(--main-background-color) ;
}
.submit-button{
  background: var(--accent-color-two);
  transition: all 0.3s ease;
}
.submit-button:hover{
  background: var(--accent-color-three);
  color: var(--main-background-color) ;
}
